<div class="container">
    <h1>Login Form</h1>
    <form>
      {{diagnostic}}
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" required
          [(ngModel)]="model.username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" required
          [(ngModel)]="model.password">
      </div>
      <button type="submit" class="btn btn-default">Login</button>
    </form>
</div>
